
<header class="block-header">

            	
    <div class= "container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 logo">


                <div class="logo">

                	<h1 class="title">
                   		<img class="img" src="app/assets/image/jose.jpg">
                        <span>
                            
                        <p1>jose</p1> 

                        <p2>records</p2>
                        </span>
                	</h1>

            	</div>

            	<nav class="navigation">
                	<div class="inner">

                   		<ul class="menu-nav">
                        	<li class="home">
                            	<a href="#"> home </a>
                        	</li>
                            <li class="tchat">
                                <a href="#"> tchat </a>
                            </li>
                        	<li class="profil">
                            	<a href="#"> mon profil </a>
                        	</li>
                        	
                    	</ul>

                	</div>
            	</nav>
            </div>
        </div>
    </div>


	<div class="logo">

    	<h1 class="title">
       		<img class="img" src="app/assets/image/jose.jpg">

        	<span class="nom"> jose </span> 
            <span> records </span>

    	</h1>

	</div>

	<nav class="block-nav">
    	<div class="inner">

       		<ul class="menu-nav">
            	<li class="home">
                	<a href="#"> home </a>
            	</li>
            	<li class="profil">
                	<a href="#"> profil </a>
            	</li>
            	<li class="contact">
                	<a href="#"> contact </a>
           		</li>
        	</ul>

    	</div>
	</nav>

</header>
