body {
	padding: 0;
	margin: 0;
}

div.logo {
	padding: 25px;
	background: #1d2b4d;
	text-align: center;
}

img {
	max-width: 100px;
}

/*----------------------------------------
HEADER
----------------------------------------*/
.block-header .title {
	background: #16b84e;
	color: black;
}











/*----------------------------------------
NAVIGATION
----------------------------------------*/









/*----------------------------------------
MAIN
----------------------------------------*/