<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> Jr Profil </title>

    <link rel="stylesheet" href="app/assets/css/style.css">
    <link rel="stylesheet" href="app/assets/css/bootstrap.min.css">
</head>

<body>

<!-- MAIN -->
<main class="block-main">
    <div class="inner">

        <section class="block-section">
            <article class="block-article1">

                <div class="inner">
                    <p>
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500
                    </p>
                </div>
            </article>

            <article class="block-article2">
                <div class="inner">
                    <p>
                        quand un peintre anonyme assembla des morceaux de texte pour réaliser un livre spécimen de polices de texte. pas fait que survivre cinq siècles, mais
                    </p>
                </div>

            </article>
        </section>

        <section class="block-contact">
            <div class="inner">

                <p>
                    <div>
                <p>
                    Liste de contact
                </p>

            </div>
            </p>

    </div>
    </section>

    </div>
</main>

</body>

</html>