<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> Jr Profil </title>

    <link rel="stylesheet" href="app/assets/css/style.css">
    <link rel="stylesheet" href="app/assets/css/bootstrap.min.css">
</head>

<body>

<!-- MAIN -->
<main class="block-main">
    <div class="inner">

        <section class="block-section">
            <div class="block-article"> 
               
                <article class="block-article1">

                    <div class="inner">
                        <div class="txt1">

                            <h2 class="title">
                            Qui est le dieu des dieux?
                            </h2>

                            <p>
                            JOSE Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                            </p>

                            <img class="image-article1" src="app/assets/image/image1.jpg">

                       </div>
                    </div>
                </article>

                <article class="block-article2">
                    <div class="inner">

                        <div class="txt2">
                            <h3 class="title">
                                ahhhhhhhhhhhhhhhhhhhh
                            </h3>

                            <p>
                                quand un peintre anonyme assembla des morceaux de texte pour réaliser un livre spécimen de polices de texte. pas fait que survivre cinq siècles, maisJOSE Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                            </p>

                            <img class="image-article2" src="app/assets/image/image2.jpg">

                        </div>
                    </div>

                </article>
            </div>
        

                <article class="block-contact">
                    <div class="inner">

           
                        <div>
                            <p>
                                Liste de contact
                            </p>

                        </div>
                      

                    </div>
                </article>

        </section>

    </div>
</main>

</body>

</html>