<div class="formconnect">
<form>
    <label>Adresse mail</label>
    <input type="text" ng-model="mail" placeholder="Saisir une adresse mail"/><br/>
    <label>Mot de passe</label>
    <input type="password" ng-model="password" placeholder="******"/><br/>
    <label>Pseudo</label>
    <input type="text" ng-model="nickname" placeholder="Saisir un pseudo"/><br/>
    <label>Nom</label>
    <input type="text" ng-model="lastname" placeholder="Saisir un nom"/><br/>
    <label>Prénom</label>
    <input type="text" ng-model="firstname" placeholder="Saisir un prénom"/><br/>
    <button ng-click="signup()">S'inscrire</button>
</form>
</div>